
* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #444;
  font-weight: 300;
  background-color: #fefefe;
}

.Container {
  max-width: 600px;
  margin: 20px auto;
}

.Navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  li {
    margin-right: 5px;
  }
  a, a:visited {
    color: rgb(215, 99, 99);
    &:hover {
      color: rgb(181, 79, 79);
    }
  }
}

img{
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #192f7d;
  &:hover {
    color: #122567;
  }
}
h1 {
  font-family: 'Rozha One', serif;
  font-size: 2.4rem;
}
h2 {
  font-family: 'Rozha One', serif;
  font-size: 1.9rem;
}
h3 {
  font-family: 'Rozha One', serif;
  font-size: 1.4rem;
}
